.CLQ {
    .wrapper {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column;
            align-items: center;
        }
    }
    @media screen and (max-width: $breakpoint-md) {
        justify-content: center;

        .qualite {
            text-align: center;
        }
        .logiciel {
            text-align: center;
        }
        .competence {
            text-align: center;
        }
    }
}
h3,
h4 {
    text-shadow: var(--shadow);
}

.item {
    display: flex;
    align-items: center;

    gap: 20px;
    @media screen and (max-width: $breakpoint-md) {
        justify-content: center;
    }
}
