.CLQ {
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}
h3,
h4 {
    text-shadow: var(--shadow);
}

.item {
    display: flex;
    align-items: center;

    gap: 20px;
}
