.contact {
    width: 100vw;
    margin-bottom: 10%;
    h1 {
        font-size: var(--font-size-hName);
    }
    a {
        display: flex;
        align-items: center;
        margin: 0 10px;
        text-decoration: none;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column;
        }
    }
    .gravityForm {
        color: white;
    }
    @media screen and (max-width: $breakpoint-md) {
        flex-direction: column;
        .txtcont {
            max-width: 80vh;
        }
    }
}
.form {
    margin-top: 80px;
    bottom: 0;
}
.gform_button {
    font-weight: bold;
    background-color: var(--color-btn-inactif);
    border-radius: 10px;
    padding: 10px;
    box-shadow: var(--shadow);

    &:hover {
        background-color: var(--color-btn-actif);
        color: black;
        text-decoration: none;
    }
}
