.footer {
    text-align: center;
    background-color: var(--color-bg-secondary);
    padding: 10px 0;
    margin: 0;
    p {
        @media screen and (max-width: $breakpoint-md) {
        }
    }
    @media screen and (max-width: $breakpoint-md) {
        display: block;
    }
    .nav-footer {
        position: relative;
        height: auto;
        width: auto;
        padding: 0;
        display: flex;
        z-index: 2;
        @media screen and (max-width: $breakpoint-md) {
            margin: 60px 0;
        }
    }
    ul {
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        gap: 80px;

        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column;
            gap: 30px;
            margin: 0 auto;
        }
    }

    .head-footer {
        @media screen and (min-width: $breakpoint-md) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
