.footer {
    text-align: center;
    background-color: var(--color-bg-secondary);
    padding: 10px 0;
    margin: 0;
    p {
        @media screen and (max-width: $breakpoint-md) {
        }
    }
    @media screen and (max-width: $breakpoint-md) {
        display: block;
    }
    .nav-footer {
        position: relative;
        height: auto;
        width: auto;
        padding: 0;
        display: flex;
        z-index: 2;
        @media screen and (max-width: $breakpoint-md) {
            margin: 60px 0;
        }
    }
    ul {
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        gap: 80px;

        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column;
            gap: 30px;
            margin: 0 auto;
        }
    }

    .head-footer {
        .header__brand {
            span {
                display: inline-block; /* Allow size manipulation */
                max-width: 0; /* Initially collapsed */
                opacity: 0; /* Initially hidden */
                overflow: hidden;
                transform: translateX(-50px);
                vertical-align: bottom;
                transition: transform 0.5s ease-in, max-width 0.5s ease-in,
                    opacity 0.5s ease;
            }
            &:hover span {
                transform: translateX(0);
                max-width: max-content; /* Adjust according to the content */
                opacity: 1;
            }
        }

        @media screen and (min-width: $breakpoint-md) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    @media screen and (max-width: $breakpoint-md) {
        width: 800px;
    }
    @media screen and (max-width: $breakpoint-xs) {
        width: 220px;
    }
}
