.hero {
    margin: 40px 0;
    .wrapper {
        display: flex;
        gap: -18px;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column-reverse;
        }
    }

    .heroTxt {
        margin: 0 20px;
        text-align: center;

        h1 {
            z-index: 2;
            text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
            transform: translateX(-5%);
            font-size: var(--font-size-hName);

            margin: 10px 0;
            @media screen and (max-width: $breakpoint-md) {
                transform: translateX(0);
            }
        }
        h2 {
            margin: 10px 0;
            text-shadow: var(--shadow);
        }

        p {
            text-align: center;
            width: 600px;
        }
    }
}
