.projets {
    .projetsContent {
        display: flex;
        justify-content: center;
        margin: 50px 0;

        img {
            width: 750px;
            height: 450px;
        }
    }
    .projetsTxt {
        margin: 0 20px;
        width: 720px;
    }
    a {
        padding: 10px;
    }
    h1 {
        text-align: center;
    }

    img {
        width: 750px;
        height: 450px;

        box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
    }
    h3 {
        border-bottom: 10px solid #eaeaea;

        /* shadow */
        text-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .ttsproj {
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
