//FONTS
// ici sont chargé les fonts
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap';
// mixins et fonctions utilisés globalement dans le SCSS (Sass)
@import 'tools/cover';

// SETTINGS
// Contient les variables sur les polices, les définitions de couleurs, les définitions de  grandeurs,   etc.
@import 'settings/colors';
@import 'settings/fonts';
@import 'settings/dimensions';
@import 'settings/easing';

// GENERIC
// Permet de réinitialiser les CSS et de changer le modèle de boîte en box-sizing: border-box
@import 'generic/normalize';
@import 'generic/reset';

// ELEMENTS
// Modification des styles généraux de la page. Ce sont les styles qui seront généralement hérités par les éléments de la page.
@import 'elements/body';
@import 'elements/headings';
@import 'elements/links';
@import 'elements/wrapper';

// COMPONENTS
// Composants d'interface utilisateur spécifiques.
// C’est là que la majorité de notre travail a lieu.
@import '../../node_modules/swiper/swiper.scss';
@import '../../node_modules/swiper/modules/pagination/pagination';
@import '../../node_modules/swiper/modules/navigation/navigation';
@import '../../node_modules/swiper/modules/autoplay/autoplay';
//js
@import 'components/js/icons';
@import 'components/js/header';
@import 'components/js/scrolly.scss';
@import 'components/js/carousel';
//content
@import 'components/hero.scss';
@import 'components/projets.scss';
@import 'components/clq.scss';
@import 'components/jaime.scss';
@import 'components/contact.scss';
@import 'components/media.scss';
@import 'components/footer.scss';
@import 'components/projet.scss';
// UTILITIES
// Utilitaires et classes auxiliaires avec possibilité de remplacer tout ce qui précède, par exemple masquer les éléments de la page
@import 'utilities/accessibility';
@import 'utilities/spacing';
