/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-xl;
    margin-inline: auto;
    margin: 0 auto;
    padding: 0 var(--spacing-md);
    @media screen and (max-width: $breakpoint-sm) {
        padding: 0 var(--spacing-sm);
    }
}

section + section {
    margin-top: var(--spacing-lg);
}
