/* ========================================================================== 
   Scrolly / Component
   ========================================================================== */
.has-js {
    [data-scrolly] {
        opacity: 0; // If JS is disabled, opacity stays at zero
        transition: opacity 0.4s ease-out, transform 0.4s ease-out;

        // From Bottom
        &[data-scrolly='fromBottom'] {
            transform: translateY(60px);
            &.is-active {
                opacity: 1;
                transform: translateY(0);
            }
        }

        // From Top
        &[data-scrolly='fromTop'] {
            transform: translateY(-60px);
            &.is-active {
                opacity: 1;
                transform: translateY(0);
            }
        }

        // From Left
        &[data-scrolly='fromLeft'] {
            transform: translateX(-50px);
            transition-duration: 0.6s;
            &.is-active {
                opacity: 1;
                transform: translateX(0);
            }
        }

        // From Reverse
        &[data-scrolly='fromReverse'] {
            transform: rotateZ(-180deg);
            transition-duration: 0.6s; // Add duration
            &.is-active {
                opacity: 1;
                transform: rotateZ(0); // Fix rotation axis
            }
        }

        // From Little
        &[data-scrolly='fromLittle'] {
            transform: scale(0);
            transition-duration: 0.3s;
            &.is-active {
                opacity: 1;
                transform: scale(1);
            }
        }

        // From Right
        &[data-scrolly='fromRight'] {
            transform: translateX(50px);
            transition-duration: 0.6s;
            &.is-active {
                opacity: 1;
                transform: translateX(0);
            }
        }

        // Flip From Bottom
        &[data-scrolly='flipFromBottom'] {
            transform: rotateX(120deg);
            transition-duration: 0.6s;
            &.is-active {
                opacity: 1;
                transform: rotateX(0);
            }
        }
    }
}
