/* ==========================================================================
   video / component
   ========================================================================== */

.video {
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    cursor: pointer;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .icon {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        text-shadow: 0 0 4px rgba(0, 0, 0, 1);
        transition: 0.4s $ease-out-expo;
        transition-property: opacity, transform;
        transform-origin: 0 0;
        transform: translate(-50%, -50%);
        z-index: 2;
        .is-video-ready & {
            opacity: 1;
        }
    }

    &:hover .icon {
        transform: scale(0.8) translate(-50%, -50%);
    }
}
.video__media {
    @include cover();
}
