/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #40e0d0;
    --color-secondary: #ff69b4;

    --color-btn-inactif: #69afbf;
    --color-btn-inactif: #7ce7ff;

    --color-bg-primary: linear-gradient(#0d0d0d, #2f6073);
    --color-bg-secondary: #0d0d0d;
}
