/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #40e0d0;
    --color-secondary: #ff69b4;

    --color-bg-primary: #212121;
    --color-bg-secondary: #36454f;
}
