/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Oswald', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
    --font-p: 'Open Sans', sans-serif;

    /// Grosseur des textes
    --font-size-h1: 3.43rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.5rem;
    --font-size-p: 1.25rem;
    --font-size-btn: 1.25rem;
    --font-size-hName: 6rem;
}
