/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Oswald', sans-serif;
    --font-secondary: 'Schibsted Grotesk', sans-serif;

    --font-size-content: 1.2rem;

    /// Grosseur des textes
    --font-size-h1: 4rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.5rem;
}
