/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Oswald', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
    --font-p: 'Open Sans', sans-serif;

    /// Grosseur des textes

    --font-size-h1: #{typo(40px, 55px)};
    --font-size-h2: #{typo(28px, 48px)};
    --font-size-h3: #{typo(17px, 36px)};
    --font-size-h4: #{typo(15px, 24px)};
    --font-size-p: #{typo(12px, 20px)};
    --font-size-btn: #{typo(18px, 22px)};
    --font-size-hName: #{typo(45px, 90px)};
}
