{% include '_partials/_header.html' %}
<section class="contact">
    <div class="wrapper">
        <div class="txtcont">
            <h1>Contactez-moi!</h1>
            <a href="mailto:xavier.perras@outlook.com">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-mailto"></use>
                </svg>
                <h3>xavier.perras@outlook.com</h3>
            </a>
            <a href="tel:438-526-9382">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-phone"></use>
                </svg>
                <h3>438-526-9382</h3>
            </a>
            <a href="./assets/documents/monCv.txt" download>
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-cv"></use>
                </svg>
                <h3>curriculum vitae</h3>
            </a>
        </div>
        <div class="form"></div>
    </div>
</section>
{% include '_partials/_footer.html' %}
