{% include '_partials/_header.html' %}
<section class="hero">
    <div class="wrapper">
        <img data-scrolly="fromLeft" src="assets/images/photoPro.png" alt="photo profesionnel de moi" />
        <div data-scrolly="fromRight" class="heroTxt">
            <h1>Xavier Perras</h1>
            <h2>
                Créateur 3D/
                <br />
                DevWeb junior
            </h2>
            <p>
                Je suis en technique d’intégration multimédia au Cégep Édouard-Montpetit. Je termine ma technique en mai
                2025. J’aime la 3D et l’intégration web.
            </p>
        </div>
    </div>
</section>
<section class="projets">
    <div class="wrapper">
        <h2 data-scrolly='fromLeft'>Quelque Projets!</h2>
        <div class="projetsContent">
            <img data-scrolly='fromLeft' src="assets/images/imgTimTool.png" alt="photo profesionnel de moi" />
            <div data-scrolly='fromRight' class="projetsTxt">
                <h3>nom de projet</h3>
                <h2>Description technique</h2>
                <p>courte descritpion</p>
                <a class="bouton" href="projet.html">aller voir</a>
            </div>
        </div>
        <div class="projetsContent">
            <img data-scrolly='fromLeft' src="assets/images/imgTimTool.png" alt="photo profesionnel de moi" />
            <div data-scrolly='fromRight' class="projetsTxt">
                <h3>nom de projet</h3>
                <h2>Description technique</h2>
                <p>courte descritpion</p>
                <a class="bouton" href="projet.html">aller voir</a>
            </div>
        </div> <a class="bouton ttsproj" href="projets.html">Voir les projets</a>
       
    </div>
</section>
<section class="CLQ">
    <div class="wrapper">
        <div data-scrolly='fromLeft' class="competence">
            <h3>Mes Compétences</h3>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-integration"></use>
                </svg>
                <h4>Intégration web,</h4>
            </div>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-animation"></use>
                </svg>
                <h4>Animation 3D,</h4>
            </div>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-animation"></use>
                </svg>
                <h4>Animation 2D,</h4>
            </div>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-web"></use>
                </svg>
                <h4>Développement web,</h4>
            </div>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-modelisation"></use>
                </svg>
                <h4>Modélisation 3D,</h4>
            </div>
        </div>
        <div data-scrolly='fromLittle' class="logiciel">
            <h3 >Logiciels que j’utilise!</h3>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-blender"></use>
                </svg>
                <h4>Blender</h4>
            </div>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-vsCode"></use>
                </svg>
                <h4>Vs Code</h4>
            </div>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-webstorm"></use>
                </svg>
                <h4>Webstorm</h4>
            </div>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-davinci"></use>
                </svg>
                <h4>DaVinci Resolve</h4>
            </div>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-inkscape"></use>
                </svg>
                <h4>Inkscape</h4>
            </div>
        </div>
        
        <div data-scrolly='fromRight' class="qualite">
            <h3>Mes Qualitées</h3>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-methodique"></use>
                </svg>
                <h4>Méthodique</h4>
            </div>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-discipline"></use>
                </svg>
                <h4>Discipliné</h4>
            </div>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-solution"></use>
                </svg>
                <h4>Trouveur de solutions</h4>
            </div>
            <div class="item">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-curieux"></use>
                </svg>
                <h4>Curieux</h4>
            </div>
            
        </div>
        </div>
    </div>
</div>
</section>
<section class="jaime">
    <div class="wrapper">
        <h2 data-scrolly='fromLeft'>Mes loisirs</h2></div>
    <div class="cards">
        <div class="card">
            <img src="assets/images/nfl.jpg" alt="">
            <div class="txt"><p>je joue au football</p></div>
        </div>
    <div class="card">    <img src="assets/images/gym.jpg" alt="">
        <div class="txt"><p>j'aime m'entrainé au gym</p></div></div>
    <div class="card">    <img src="assets/images/gaming.jpg" alt="">
        <div class="txt"><p>je suis un joueur de jeux video</p></div></div>
    <div class="card">    <img src="assets/images/anime.jpg" alt="">
        <div class="txt"><p>j'aime les animes, manga, manhwa</p></div></div></div>
</section>

{% include '_partials/_footer.html' %}
