{% include '_partials/_header.html' %}
<section class="hero">
    <div class="wrapper">
        <img src="assets/images/photoPro.png" alt="photo profesionnel de moi" />
        <div class="heroTxt">
            <h1>Xavier Perras</h1>
            <h2>
                Créateur 3D/
                <br />
                DevWeb junior
            </h2>
            <p>
                Je suis en technique d’intégration multimédia au Cégep Édouard-Montpetit. Je termine ma technique en mai
                2025. J’aime la 3D et l’intégration web.
            </p>
        </div>
    </div>
</section>
<section class="projets">
    <div class="wrapper">
        <h2>Quelque Projets!</h2>
        <div class="projetsContent">
            <img src="assets/images/imgTimTool.png" alt="photo profesionnel de moi" />
            <div class="projetTxt">
                <h3>nom de projet</h3>
                <h2>Description technique</h2>
                <p>courte descritpion</p>
                <a href="">aller voir</a>
            </div>
        </div>
        <div class="projetsContent">
            <img src="assets/images/imgTimTool.png" alt="photo profesionnel de moi" />
            <div class="projetTxt">
                <h3>nom de projet</h3>
                <h2>Description technique</h2>
                <p>courte descritpion</p>
                <a href="">aller voir</a>
            </div>
        </div>
        <a href="">Voir les projets</a>
    </div>
</section>

{% include '_partials/_footer.html' %}
