{% include '_partials/_header.html' %}
<section class="projets">
    <div class="wrapper">
        <h1>Mes Projets!</h1>
        <div class="projetsContent">
            <img src="assets/images/imgTimTool.png" alt="photo profesionnel de moi" />
            <div class="projetTxt">
                <h3>nom de projet</h3>
                <h2>Description technique</h2>
                <p>courte descritpion</p>
                <a class="bouton" href="">aller voir</a>
            </div>
        </div>
        <div class="projetsContent">
            <img src="assets/images/imgTimTool.png" alt="photo profesionnel de moi" />
            <div class="projetTxt">
                <h3>nom de projet</h3>
                <h2>Description technique</h2>
                <p>courte descritpion</p>
                <a class="bouton" href="">aller voir</a>
            </div>
        </div>
        <div class="projetsContent">
            <img src="assets/images/imgTimTool.png" alt="photo profesionnel de moi" />
            <div class="projetTxt">
                <h3>nom de projet</h3>
                <h2>Description technique</h2>
                <p>courte descritpion</p>
                <a class="bouton" href="">aller voir</a>
            </div>
        </div>
        <div class="projetsContent">
            <img src="assets/images/imgTimTool.png" alt="photo profesionnel de moi" />
            <div class="projetTxt">
                <h3>nom de projet</h3>
                <h2>Description technique</h2>
                <p>courte descritpion</p>
                <a class="bouton" href="">aller voir</a>
            </div>
        </div>
        <div class="projetsContent">
            <img src="assets/images/imgTimTool.png" alt="photo profesionnel de moi" />
            <div class="projetTxt">
                <h3>nom de projet</h3>
                <h2>Description technique</h2>
                <p>courte descritpion</p>
                <a class="bouton" href="">aller voir</a>
            </div>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
