{% include '_partials/_header.html' %}
<section class="projet">
    <div class="wrapper">
        <div class="projetHero">
            <img src="assets/images/imgTimTool.png" alt="photo profesionnel de moi" />
            <div class="projetHerotxt">
                <div class="heroHead">
                    <h1>La fusée</h1>
                    <h2>Animation 3D | Projet Étudiant</h2>
                    <p>Décollange d’une fusée dans l’espace. Elle va entrer dans l’hyper vitesse</p>
                </div>
                <div class="herotxt">
                    <p>Réalisé par: moi</p>
                    <p>Réalisé en 2021</p>
                    <p>effet sonore:</p>
                </div>
                <div class="projetLog"></div>

                <a class="bouton" href="">voir site</a>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
